#container{
    height: 550px;
    width: 900px;
    background-color: aqua;
    margin: 30px auto;
    border: 5px solid rgb(42, 46, 156);
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    
    
}
#container div {
     width: 100px;
     height: 100px;
     
}


h1{
    text-align: center;
}
