div{
    height: 250px;
    width:500px;
    border: 10px solid green;
    background-color: rgba(155, 215, 50, 0.5);

}
p{
    height: 250px;
    width:500px;
    border: 10px solid rgb(0, 62, 128);
    background-color: rgb(106, 106, 186);
    opacity: 0.5;
}
#trans{
    height: 250px;
    width:250px;
    border: 10px double yellow;
    background-color: rgb(198, 144, 10);
    opacity: 1;
    transition: 1s;
}
#trans:hover{
    border-radius: 50%;
    background-color: #c71b1b;
}
h1{
    margin: 0 auto;
    margin-top: 50px;
    height: 100px;
    width: 200px;
    background-color: paleturquoise;
    transition: margin-top 10s ease-out 1s;
}
h1:hover{
    border-radius:  10px 100px ;
    margin-top: 10px;

}